<h1 class="text-center text-dark my-4">人気映画一覧</h1>

<div class="container-fluid px-lg-5">
  <div class="row">
    <!--検索バー↓-->
    <div class="col-lg-3 bg-light text-dark rounded p-3">
      <h2>映画検索</h2>
      <%= form_with(url: search_movies_path, method: :get, local: true, html: { class: "mt-4" }) do %>
        <%= label_tag :keyword, 'キーワード', class: 'form-label' %>
        <div class="input-clearable" id="keyword_field_container">
          <%= text_field_tag :keyword, nil, class: 'form-control', id: 'keyword_field' %>
          <span id="clear_keyword" class="clearable">×</span>
        </div>

        <%= label_tag :genre, 'ジャンル', class: 'form-label mt-3' %>
        <div class="d-flex flex-wrap justify-content-between mb-3">
          <% @genres.each do |genre| %>
            <label class="btn btn-outline-dark m-1" style="flex: 1 0 auto;">
              <%= radio_button_tag :genre, genre['id'], false, class: 'form-check-input genre-radio', id: "genre_#{genre['id']}" %>
              <%= genre['name'] %>
            </label>
          <% end %>
        </div>
        <button type="button" class="btn btn-dark mt-3" onclick="uncheckAll()">選択解除</button>
        <%= submit_tag '検索', class: 'btn btn-dark mt-3' %>
      <% end %>

      <div style="margin-top: 80px;"></div>

      <h2>レビュー検索</h2>
      <%= form_tag reviews_path, method: :get, class: 'mt-4' do %>
        <div class="input-clearable">
          <%= text_field_tag :search, params[:search], placeholder: "キーワードを入力してください", class: 'form-control', id: "review_keyword_field" %>
          <span id="review_clear_keyword" class="clearable" style="right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">×</span>
        </div>
        <%= submit_tag "検索", class: 'btn btn-dark mt-3', id: "search_button" %>
      <% end %>

      <div style="margin-top: 80px;"></div>

      <div class="search-user-container">
        <h2 class="search-user-heading">ユーザー検索</h2>
        <%= form_with url: search_users_path, method: :get, local: true, class: "search-user-form" do |f| %>
          <%= f.label :search, "Search", class: "search-user-label" %>
          <%= f.text_field :search, class: "search-user-input" %>
          <%= f.submit "検索", class: "search-user-button" %>
        <% end %>
      </div>
    </div>


    <!--映画一覧↓-->
    <div class="col-lg-9">
      <div class="row">
        <% @movies.each_with_index do |movie, index| %>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <%= link_to movie_path(movie["id"]), class: "card text-decoration-none text-dark" do %>
              <div class="card">
                <% if movie["poster_path"] %>
                  <img src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" class="card-img-top" alt="<%= movie['title'] %> poster">
                <% else %>
                  <div class="card-body">
                    <p class="card-text">No poster available</p>
                  </div>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= movie["title"] %></h5>
                </div>
              </div>
            <% end %>
            <!-- Add to Movielist Button -->
            <% if user_signed_in? %>
              <%= button_to '視聴リストに入れる', add_to_movielist_movie_path(movie["id"]), method: :post, class: 'btn btn-outline-dark mt-3 w-100' %>
            <% end %>
          </div>
          <% if (index + 1) % 5 == 0 %>
            <div class="w-100"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--ページネーション↓-->
<%= render 'shared/pagination' %>

<!--一つの検索要素を使用中は他の検索欄が無効化↓-->
<script>
$(document).ready(function() {
  $('#keyword_field').on('input', function() {
    if ($(this).val()) {
      $('.genre-radio').prop('disabled', true);
      uncheckAll();
    } else {
      $('.genre-radio').prop('disabled', false);
    }
  });

  $('.genre-radio').on('change', function() {
    if (this.checked) {
      $('#keyword_field').prop('disabled', true);
    } else {
      $('#keyword_field').prop('disabled', false);
    }
  });
});

function uncheckAll() {
  let radios = document.getElementsByClassName('genre-radio');
  for(let i = 0, length = radios.length; i < length; i++) {
    radios[i].checked = false;
    radios[i].parentNode.classList.remove('active');
  }
  $('#keyword_field').prop('disabled', false);
}

$(document).ready(function() {
  $('#clear_keyword').on('click', function() {
    $('#keyword_field').val('');
    $('.genre-radio').prop('disabled', false);
    uncheckAll();
  });
});

$(document).ready(function() {
  $('#search_button').on('click', function(event) {
    if (!$('#review_keyword_field').val()) {
      event.preventDefault();
    }
  });

  $('#review_clear_keyword').on('click', function() {
    $('#review_keyword_field').val('');
    $('.genre-radio').prop('disabled', false);
    uncheckAllReview();
  });
});
</script>

<style>
.input-clearable {
  position: relative;
}

.clearable {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.bg-light {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}
</style>