<% if @reviews.empty? %>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <p style="text-align: center; color: #888; font-size: 1.5em;">レビューがありません。レビューを書くか、他のユーザーをフォローしてみましょう！</p>
  </div>
<% else %>
  <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
    <% @reviews.each do |review| %>
      <%= link_to movie_review_path(review.movie, review), class: "text-decoration-none text-dark" do %>
        <div class="card mb-3">
          <div class="card-body">
            <% if review.movie.poster_path %>
              <img src="https://image.tmdb.org/t/p/w500<%= review.movie.poster_path %>" class="card-img-top" alt="<%= review.movie.title %> poster">
            <% else %>
              <p class="card-text">No poster available</p>
            <% end %>
            <div>
              <h5 class="card-title"><%= review.movie.title %></h5>
              <p class="card-text"><strong>ストーリーの評価: <%= review.story_rating %></strong></p>
              <p class="<%= 'spoiler' if review.story_spoiler %>" onclick="showSpoiler(event)" data-spoiler="<%= review.story_comment %>">
                <% if review.story_spoiler %>
                  <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>ネタバレを含みます
                <% else %>
                  <%= review.story_comment %>
                <% end %>
              </p>
              <p class="card-text"><strong>キャストの評価: <%= review.cast_rating %></strong></p>
              <p class="<%= 'spoiler' if review.cast_spoiler %>" onclick="showSpoiler(event)" data-spoiler="<%= review.cast_comment %>">
                <% if review.cast_spoiler %>
                  <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>ネタバレを含みます
                <% else %>
                  <%= review.cast_comment %>
                <% end %>
              </p>
              <p class="card-text"><strong>音楽の評価: <%= review.music_rating %></strong></p>
              <p class="<%= 'spoiler' if review.music_spoiler %>" onclick="showSpoiler(event)" data-spoiler="<%= review.music_comment %>">
                <% if review.music_spoiler %>
                  <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>ネタバレを含みます
                <% else %>
                  <%= review.music_comment %>
                <% end %>
              </p>
              <p class="card-text"><strong>演出＆映像の評価: <%= review.direction_rating %></strong></p>
              <p class="<%= 'spoiler' if review.direction_spoiler %>" onclick="showSpoiler(event)" data-spoiler="<%= review.direction_comment %>">
                <% if review.direction_spoiler %>
                  <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>ネタバレを含みます
                <% else %>
                  <%= review.direction_comment %>
                <% end %>
              </p>
            </div>
          </div>
          <div class="card-footer text-muted" style="font-size: 12px;">
            <div class="username">
              <%= link_to user_path(review.user) do %>
                <% if review.user.profile_image.attached? %>
                  <%= image_tag(review.user.profile_image, class: "img-thumbnail") %>
                <% else %>
                  <%= image_tag('popcorn.jpg', class: "img-thumbnail") %>
                <% end %>
                <%= review.user.username %>
              <% end %>
            </div>
            <div class="spacer"></div>
            <div>
              <%= review.updated_at.strftime("%m月%d日 %H:%M") %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<style>
.card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
  position: relative;
}

.card-body {
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 5px;
}

.card-img-top {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  margin-right: 20px;
}

.text-dark {
  color: #343a40 !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.spoiler {
  cursor: pointer;
}

.img-thumbnail {
  width: 50px;
  height: auto;
}

.username a {
  text-decoration: none;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}
</style>

<script>
function showSpoiler(event) {
  event.preventDefault();

  if (event.target.classList.contains('spoiler')) {
    event.target.style.color = 'black';
    event.target.textContent = event.target.dataset.spoiler;
  }
}
</script>