<!DOCTYPE html>
<html>
  <head>
    <title>CineMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="text-center">
      <p class="title text-white">ようこそ<%= link_to "CineMine", homes_about_path, class: "text-white link-style" %>へ</p>
      <div class="link-section">
        <%= link_to "ログイン", new_user_session_path, class: "text-black-50 link-style" %>
        <%= link_to "新規登録", new_user_registration_path, class: "text-black-50 link-style" %>
        <%= link_to "ゲスト", movies_path, class: "text-secondary link-style" %>
      </div>
    </div>
  </body>

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url("/assets/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .title {
      font-size: 80px;
      margin-bottom: 50px;
      font-weight: 300;
    }
    .title .link-style {
      font-size: 80px;
    }
    .link-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 150px;
    }
    .link-style {
      font-size: 25px;
      text-decoration: none;
    }
  </style>
</html>
