<!DOCTYPE html>
<html>
  <head>
    <title>CineMine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to "CineMine", homes_about_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item <%= 'active' if current_page?(userhome_users_path) %>">
                <%= link_to userhome_users_path, class: 'nav-link' do %>
                  <i class="fa-solid fa-house"></i><span class="sr-only">(current)</span>
                <% end %>
              </li>
              <li class="nav-item <%= 'active' if current_page?(movies_path) %>">
                <%= link_to movies_path, class: 'nav-link' do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
              </li>
              <li class="nav-item <%= 'active' if current_page?(likes_users_path) %>">
                <%= link_to likes_users_path, class: 'nav-link' do %>
                  <i class="fa-solid fa-heart"></i>
                <% end %>
              </li>
              <li class="nav-item <%= 'active' if current_page?(movielist_users_path) %>">
                <%= link_to movielist_users_path, class: 'nav-link' do %>
                  <i class="fa-solid fa-list-ul"></i>
                <% end %>
              </li>
              <li class="nav-item <%= 'active' if current_page?(user_path(current_user)) %>">
                <%= link_to user_path(current_user), class: 'nav-link' do %>
                  <i class="fa-regular fa-circle-user"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link' do %>
                  新規登録 <i class="fa-solid fa-user-plus"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link' do %>
                  ログイン <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to movies_path, class: 'nav-link' do %>
                   ゲスト <i class="fa-solid fa-users"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <!--フラッシュメッセージ↓-->
      <div class="container" style="padding-top: 15px;">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %> alert-dismissible fade show text-center" role="alert" style="margin-bottom: 20px;">
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!--メインコンテンツ↓-->
      <%= yield %>
    </main>
  </body>
</html>
